body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/*-------------------Стили хедера-----------------*/

.main-header-top {
  background-color: #293449;
}

.logo {
  background-color: #ee3643;
}

.search-form input[type="text"], 
.search-form button {
  border: none;
  background-color: transparent;
}

.search-form input[type="text"] {
  font-size: 17px;
  line-height: 18px;
}

.search-form input[type="text"]:-ms-input-placeholder {
  color: #ffffff;
}

.search-form input[type="text"]::-ms-input-placeholder {
  color: #ffffff;
}

.search-form input[type="text"]::placeholder {
  color: #ffffff;
  opacity: 1;
}

.main-header-btn {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.not-empty {
  background-color: #ee3643;
}

.order-btn {
  background-color: #63a63e;
}

.main-header-bottom {
  background-color: #f4f7f9;
}

.main-header-bottom h1 {
  font-weight: inherit;
}

.shop-title {
  margin: 0;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.main-header-phone {
  border: solid 3px #ffffff;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.main-header-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation,
.authorized-user-navigation,
.main-navigation-list {
  list-style: none;
}

.user-navigation li,
.user-icon, 
.user-name, 
.user-logout {
  background-color: #ffffff;
}

.user-navigation a,
.user-name {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.authorized-user-navigation a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.main-navigation {
  background-color: #32425c;
}

.main-navigation-list a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

/*-------------------Стили футера-----------------*/

.main-footer-top {
  background-color: #32425c;
}

.main-footer-navigation {
  list-style: none;
}

.main-footer-contacts,
.footer-navigation-item:nth-child(-n+5) a {
  color: #f1f5f7;
}

.footer-navigation-item:nth-child(n+6) a {
  color: #ffd180;
}

.main-footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #32425c;
}

.creator-info {
  color: #ffd180;
}

.main-footer-social {
  list-style: none;
}

/*-------------------Стили main-----------------*/

.main-btn {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.main-btn-red {
  color: #ffffff;
  background-color: #ee3643;
}

.main-section h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: inherit;
  text-transform: uppercase;
}

.text-section p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.catalog-element a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-section-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: inherit;
  text-transform: uppercase;
}

/*-------------------Промо-блок index.html-----------------*/

.promo-item-name {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
}

.promo-item a {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}

.new-flag {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.material {
  background-color: #ffbf47;
}

.tools {
  background-color: #3bbce3;
}

.equipment {
  background-color: #dc91d8;
}

.sale {
  background-color: #8ed78f;
}

.free-delivery {
  background-color: #ffc047;
}

.promo-slides,
.slider-dots {
  list-style: none;
}

.slide-text {
  color: #ffffff;
}

.slide-text p:first-child {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
}

/*-------------------Популярные товары и производители index.html, catalog.html-----------------*/

.popular-items-header {
  background-color: #f9f5f0;
}

.popular-items-header h2 {
  color: #32425c;
}

.popular-products-list,
.popular-brands-list {
  list-style: none;
}

.product-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.product-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.product-old-price {
  color: #a9a9a9;
}

.product-current-price {
  color: #ffffff;
  background-color: #ee3643;
}

.buy-btn {
  color: #ffffff;
  background-color: #63a63e;
}

.to-bookmarks-btn {
  border: solid 3px #63a63e;
  color: #32425c;
  background-color: #ffffff;
}

/*-------------------Сервисы, о компании, контакты index.html-----------------*/

.services {
  background-color: #f4f7f9;
}

.slider-navigation,
.services-slides,
.company-delivery-partners {
  list-style: none;
}

.slider-navigation button {
  border: none;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #32425c;
}

.current-slide button {
  color: #32425c;
  background-color: #ffffff;
}

.services-slides h3 {
  font-size: 36px;
  font-weight: inherit;
  text-transform: uppercase;
  color: #32425c;
}

.delivery h3 {
  line-height: 36px;
}

.credit-btn {
  color: #ffffff;
  background-color: #ff5357;
}

.company-delivery-partners li {
  line-height: 20px;
}

/*-------------------catalog.html-----------------*/

.catalog-title {
  font-size: 30px;
  font-weight: inherit;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

.filter-brands,
.filter-power-type,
.sort-type,
.sort-direction,
.catalog-list,
.pagination,
.breadcrumbs {
  list-style: none;
}

.filters h2,
.sorting,
.price-range,
.price-numbers input[type="number"] {
  background-color: #f7f3ec;
}

.filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.power-type-legend {
  letter-spacing: 0.17px;
}

.scale {
  background-color: #d7dcde;
}

.bar {
  background-color: #32cd32; /*?????? - цвет не указан на макете!*/
}

.price-numbers input[type="number"] {
  border: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.price-numbers span {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.filter-option label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-btn {
  border: solid 1px #e5e5e5;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.sort-type a {
  color: rgba(0, 0, 0, 0.3);
  /* text-decoration-style и -color не работает в IE, Edge + style в Safari */
}

.sort-direction a {
  color: rgba(0, 0, 0, 0.3);
}

.sort-type .active,
.sort-direction .active {
  color: #ee3643;
}

.catalog-list .product-old-price {
  color: #999999;
}

.pagination a {
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

.current-page a {
  color: #ffffff;
  background-color: #ee3643;
}

.product-info {
  background-color: #f4f7f9;
}