body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/* img {
  max-width: 100%; Что насчет отмасштабированного svg???
  height: auto;
} */

.not-displayed {
  /* display: none; */
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-old-price {
  visibility: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/*-------------------Стили хедера-----------------*/

.main-header-top {
  background-color: #293449;
}

.main-header-top .container {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  line-height: 0px;
  background-color: #ee3643;
  box-shadow: 0px 5px 0 0 rgba(0, 0, 0, 0.24), 0px 5px 0 0 #ee3643;
}

.logo-clickable:hover {
  background-color: #ca2c37;
  box-shadow: 0px 5px 0 0 rgba(0, 0, 0, 0.24), 0px 5px 0 0 #ca2c37;
}

.logo-clickable:active {
  background-color: #ba2732;
  box-shadow: 0px 5px 0 0 rgba(0, 0, 0, 0.24), 0px 5px 0 0 #ba2732;
}

.header-logo {
  position: relative;
  align-self: flex-start;
  padding: 13px 56px 10px 55px;
}

.search-form {
  display: flex;
  flex-direction: row-reverse;
  flex-basis: 270px;
}

.search-form input[type="text"], 
.search-form button {
  border: none;
  background-color: transparent;
}

.search-form input[type="text"] {
  font-size: 17px;
  line-height: 18px;
}

.search-form input[type="text"]:-ms-input-placeholder {
  color: #ffffff;
}

.search-form input[type="text"]::-ms-input-placeholder {
  color: #ffffff;
}

.search-form input[type="text"]::placeholder {
  color: #ffffff;
  opacity: 1;
}

.main-header-btn {
  width: 150px;
  box-sizing: border-box;
  padding: 13px 0 11px 0;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.user-bookmarks-btn {
  padding-left: 45px;
}

.cart-btn {
  padding-left: 45px;
}

.user-bookmarks-btn:hover,
.cart-btn:hover,
.search-form input[type="text"]:hover {
  background-color: #212a3a;
}

.user-bookmarks-btn:active,
.cart-btn:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.search-form input[type="text"]:focus {
  background-color: #ffffff;
}

.not-empty {
  background-color: #ee3643;
}

.not-empty:hover {
  background-color: #ca2c37;
}

.not-empty:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #ba2732;
}

.order-btn {
  padding-left: 20px;
  background-color: #63a63e;
}

.order-btn:hover {
  background-color: #5fbb2d;
}

.order-btn:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.main-header-bottom {
  background-color: #f4f7f9;
}

.main-header-bottom .container {
  display: flex;
  flex-wrap: wrap;
  padding: 46px 0 60px 0;
}

.main-header-bottom h1 {
  font-weight: inherit;
}

.shop-title {
  flex-basis: 197px;
  margin: 0 0 43px 52px;
  padding: 3px 0 0 0;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.main-header-contacts {
  flex-basis: 270px;
  margin: 0 0 43px 70px;
}

.main-header-phone {
  margin: 0 0 5px 0;
  padding: 10px 0 8px 71px;
  box-sizing: border-box;
  border: solid 3.2px #ffffff;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.main-header-address {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation,
.authorized-user-navigation,
.main-navigation-list {
  list-style: none;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  flex-basis: 281px;
  margin: 0 0 43px 70px;
  padding: 0;
}

.authorized-user {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-basis: 300px;
  margin: 0 0 43px 51px;
}

.authorized-user-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 3px 0 0 0;
  padding: 0 0 0 17px;
}

.user-navigation a,
.user-icon, 
.user-name, 
.user-logout {
  background-color: #ffffff;
}

.user-navigation a,
.user-name {
  padding: 13px 0 11px 0;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-name {
  flex-basis: 212px;
}

.user-icon {
  width: 47px;
  height: 45px;
}

.user-logout {
  width: 40px;
  height: 45px;
}

.user-navigation .login {
  display: block;
  padding-left: 48px;
  padding-right: 25px;
}

.user-navigation .register {
  display: block;
  padding-left: 25px;
  padding-right: 25px;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:active,
.user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.authorized-user-navigation a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 0 0;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.authorized-user-navigation li:not(:last-child)::after {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 4px;
  height: 4px;
  margin: 0 15px 0 0;
  border-radius: 50%;
  background-color: #32425c;
}

.authorized-user-navigation a:hover {
  color: #ee3643;
}

.authorized-user-navigation a:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-navigation {
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 25px 0 22px;
  width: 940px;
  box-sizing: border-box;
}

.main-navigation-list li {
  margin: 0 auto;
}

.main-navigation-list a {
  display: block;
  padding: 22px 30px 26px 30px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.main-navigation-list a:hover {
  background-color: #293449;
}

.main-navigation-list a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/*-------------------Стили футера-----------------*/

.main-footer-top {
  background-color: #32425c;
}

.main-footer-top .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 45px;
}

.footer-top-left-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  padding: 20px 41px;
  align-self: flex-start;
}

.main-footer-contacts,
.footer-navigation-item:nth-child(-n+5) a {
  color: #f1f5f7;
}

.main-footer-contacts {
  margin: 37px 0 0 0;
}

.main-footer-contacts p {
  margin: 0;
  padding: 0;
}

.main-footer-navigation {
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-basis: 615px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navigation-item a {
  display: block;
  margin: 38px 0 0 60px;
}

.footer-navigation-item:nth-child(n+6) a {
  color: #ffd180;
}

.footer-navigation-item a:hover {
  text-decoration: underline;
}

.footer-navigation-item a:active {
  opacity: 0.5;
}

.main-footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.main-footer-bottom .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 35px 0 27px 0;
}

.copyright {
  margin: 0 161px 0 0;
}

.copyright p {
  margin: 0;
  padding: 0;
}

.main-footer-social {
  margin: 0 116px 0 0;
}

.main-footer-social-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 135px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-btn {
  display: block;
  width: 42px;
  height: 42px;
  margin: 0 3px 3px 0;
  background-color: #212a3a;
}

.social-btn:hover {
  background-color: #ee3643;
}

.social-btn:active {
  background-color: #ee3643;
}

.creator-email {
  margin: 0 53px 0 0;
}

.creator-email p,
.creator p {
  margin: 0;
  padding: 0;
}

.creator-info {
  color: #ffd180;
}

.creator-info:hover {
  text-decoration: underline;
}

.creator-info:active {
  text-decoration: none;
  color: #ee3643;
}

/*-------------------Стили main-----------------*/

.main-btn {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.main-btn-red {
  color: #ffffff;
  background-color: #ee3643;
}

.main-btn-red:hover {
  background-color: #ca2c37;
}

.main-btn-red:active {
  background-color: #ba2732;
}

.main-section h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: inherit;
  text-transform: uppercase;
}

.text-section p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.catalog-element a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-section-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: inherit;
  text-transform: uppercase;
}

.new-flag {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

/*-------------------Промо-блок index.html-----------------*/

.promo-item-name {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
}

.promo-item a {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.material {
  background-color: #ffbf47;
}

.tools {
  background-color: #3bbce3;
}

.equipment {
  background-color: #dc91d8;
}

.sale {
  background-color: #8ed78f;
}

.free-delivery {
  background-color: #ffc047;
}

.promo-slides,
.slider-dots {
  list-style: none;
}

.slide-text {
  color: #ffffff;
}

.slide-text p:first-child {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-btn {
  border: none;
  background-color: transparent;
}

/*-------------------Популярные товары и производители index.html, catalog.html-----------------*/

.popular-items-header {
  background-color: #f9f5f0;
}

.popular-items-header h2 {
  color: #32425c;
}

.popular-products-list,
.popular-brands-list {
  list-style: none;
}

.catalog-item {
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.product-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.product-old-price {
  color: #999999;
}

.product-current-price {
  color: #ffffff;
  background-color: #ee3643;
}

.buy-btn {
  color: #ffffff;
  background-color: #63a63e;
}

.buy-btn:hover {
  background-color: #5fbb2d;
}

.buy-btn:active {
  background-color: #518534;
}

.to-bookmarks-btn {
  border: solid 3px #63a63e;
  color: #32425c;
  background-color: #ffffff;
}

.to-bookmarks-btn:hover {
  border-color: #32425c;
}

.to-bookmarks-btn:active {
  opacity: 0.3;
}

.popular-brands-list a {
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

.popular-brands-list a:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-list a:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-list a:active img {
  opacity: 0.3;
}

/*-------------------Сервисы, о компании, контакты index.html-----------------*/

.services {
  background-color: #f4f7f9;
}

.slider-navigation,
.services-slides,
.company-delivery-partners {
  list-style: none;
}

.slider-navigation button {
  border: none;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #32425c;
}

.slider-navigation .current-slide {
  color: #32425c;
  background-color: #ffffff;
}

.slider-navigation button:not(.current-slide):hover {
  background-color: #293449;
}

.services-slides h3 {
  font-size: 36px;
  font-weight: inherit;
  text-transform: uppercase;
  color: #32425c;
}

.delivery h3 {
  line-height: 36px;
}

.credit-btn {
  color: #ffffff;
  background-color: #ff5357;
}

.company-delivery-partners li {
  line-height: 20px;
}

/*-------------------Всплывающие окна-----------------*/

.modal-bottom {
  background-color: #f1f1f1;
}

.feedback-fields {
  list-style: none;
}

.feedback-field label {
  font-size: 18px;
  line-height: 18px;
}

.feedback-field input[type="text"],
.feedback-field input[type="email"],
.feedback-field textarea {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
  border: solid 2px #d7dcde;
  background-color: #ffffff;
}

.feedback-field input[type="text"]:hover,
.feedback-field input[type="email"]:hover,
.feedback-field textarea:hover {
  border-color: #b5b5b5;
}

.feedback-field input[type="text"]:focus,
.feedback-field input[type="email"]:focus,
.feedback-field textarea:focus {
  border-color: #ee3643;
}

.send-btn {
  border: none;
}

.cart-notification h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: inherit;
}

.continue-shopping-btn {
  border: none;
  background-color: #ffffff;
}

/*-------------------catalog.html-----------------*/

.catalog-title {
  font-size: 30px;
  font-weight: inherit;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

.filter-brands,
.filter-power-type,
.sort-type,
.sort-direction,
.catalog-list,
.pagination,
.breadcrumbs {
  list-style: none;
}

.filters h2,
.sorting,
.price-range,
.price-numbers input[type="number"] {
  background-color: #f7f3ec;
}

.filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.power-type-legend {
  letter-spacing: 0.17px;
}

.scale {
  background-color: #d7dcde;
}

.bar {
  background-color: #32cd32; /*?????? - цвет не указан на макете!*/
}

.price-numbers input[type="number"] {
  border: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.price-numbers span {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.filter-option label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-option input[type="radio"]:disabled + label,
.filter-option input[type="checkbox"]:disabled + label {
  opacity: 0.4;
}

.filter-btn {
  border: solid 1px #e5e5e5;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.sort-type a {
  color: rgba(0, 0, 0, 0.3);
  /* text-decoration-style и -color не работает в IE, Edge + style в Safari */
}

.sort-type .active {
  color: #ee3643;
}

.sort-type a:not(.active):hover {
  color: #000000;
  /* text-decoration-style и -color не работает в IE, Edge + style в Safari */
}

.sort-direction a {
  background-color: rgba(0, 0, 0, 0.3);
}

.sort-direction .active {
  background-color: #ee3643;
}

.sort-direction a:not(.active):hover {
  background-color: #000000;
}

.pagination a {
  border: solid 1px #e5e5e5;
  color: #000000;
  background-color: #ffffff;
}

.pagination .current-page {
  color: #ffffff;
  background-color: #ee3643;
}

.pagination a:not(.current-page):hover {
  border-color: #bdc6ca;
}

.pagination a:not(.current-page):active {
  border-color: #ee3643;
}

.product-info {
  background-color: #f4f7f9;
}